:root {
  --main-color: #000000;
  --width: 1000px;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
  display: inline-block;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  display: inline;
  float: left;
}

.main-nav {
  display: inline;
  float: right;
  margin-right: 10%;
}
.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  margin: 10px 10px;
}

.main-content {
  width: 75%;
  margin: 5% 10%;
  display: inline-block;
}

.right-column {
  float: right; 
  width: 50%; 
  margin-top: 10%"
}

.main-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-family: var(--font-family);
}

.first-line{
  font-family: var(--font-family);
  font-size: 20px;
  text-align: center;
}

.second-line {
  font-size: 15px;
  font-family: var(--font-family);
  text-align: center;
}
.main-img {
  float: left; 
  width: 45%
}